body {
    background-image: url(background.jpg);
    font-family: 'Lobster', cursive;
    color: rgb(214, 106, 115);
    text-align: center;
    margin: auto;
}

form {
    width: 800px;
    text-align: center;
    align-content: center;
    margin: auto;
    
}

#header {
    background-image: url(header.png);
    position: sticky;
    height: 250px;
    top:0;
    margin-bottom: -50px;
    word-spacing: 100px;
    left: 100%;
}

#logo {
    width: 300px;
    align-self: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(121, 186, 103);
}

h2 {
    padding-top: 30px;
    font-size: xx-large;
}

h1 {
    font-family: 'Lobster', cursive;
    color: rgb(214, 106, 115);
    font-size:70px;
}

img {
    width: 200px;
}



button {
    padding: 10px 20px 10px 20px;
    background-color: rgb(214, 106, 115);
    color: white;
    margin-bottom: 20px;
    font-family: 'Lobster', 'cursive';
    font-size: xx-large;
    width: 300px;
}

button:hover {
   background-color: rgb(121, 186, 103);
   
}

footer {
    background-color: rgb(255, 198, 1);
    background-image: url(streusel-textur.png);
    color: rgb(255, 255, 255);
    height: 65px;
    padding-top: 20px;
    font-size: large;
    
}

label {
    color: rgb(121, 186, 103);
    font-family: 'Roboto', sans-serif;
}

#warenkorb {
    width: 100px;
    margin-right: -100;
}

#order {
    color: rgb(121, 186, 103);
    font-family: 'Roboto', sans-serif;
}

#flexDiv {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    width: 25%;
    padding-bottom: 50px;
}

span {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}

fieldset {
    border-color: rgb(214, 106, 115);
    border-style: none;
}

a {
    text-decoration: none;
    color: rgb(121, 186, 103)
}

a:hover {
    color: rgb(214, 106, 115)
}

#meme {
    width: 650px;
    margin-top: 25px;
    margin-bottom: 25px;
}