body {
    margin: 0;
    width: 800px;
    background-image: url(bg.png);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    color: rgb(43, 26, 11);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body strong {
    color:rgb(118, 208, 224);
}

header{
    margin-top: -40px;
    padding-top: 40px;
    background-image: url(bg-header.jpg);
    border: 5px solid rgb(43, 26, 11);
    color: rgb(43, 26, 11);
    margin-bottom: 10px
}

nav {
    position: sticky;
    top: 0px;
    background-color: rgb(43, 26, 11);
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    width: 300px;
    height: 35px;
    left: 50%;
    padding: 5px 10px 0px 10px;
    border-radius: 0px 0px 10px 10px;
}

#aktuelle_Seite {
    text-decoration: none;
    color: rgb(118, 208, 224);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav a {
    text-decoration: none;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav a:hover {
    color: rgb(118, 208, 224);
    font-weight: bolder;
}

.media {
    border: 5px solid rgb(43, 26, 11);
    width: 790px
}

ul {
    list-style-type: circle;
    text-align: center;
    border: 5px solid rgb(43, 26, 11);
    padding: 10px 0px 10px 0px
}

#sarah {
    width: 400px;
    margin-top: 10px;
}

.icon {
    border: 5px solid rgb(43, 26, 11);
    border-radius: 20px;
}

th {
    width: 800px;
    padding-top: 10px;
}

form {
    background-image: url(bg_türkis.jpg);
    text-align: center;
    width: 790px;
    border: 5px solid rgb(43, 26, 11);
}

input, textarea {
    text-align: center;
    border: 5px solid rgb(43, 26, 11);
    margin: 5px;
    padding: 5px;
}

button {
    background-color: rgb(118, 208, 224);
    color: white;
    margin: 5px;
    padding: 5px;
    border: 5px solid rgb(43, 26, 11);
}

button:hover {
    background-color: rgb(43, 26, 11);
    color: white;
    margin: 5px;
    padding: 5px;
    border: 5px solid rgb(43, 26, 11);
}

td a {
    text-decoration: none;
    color: rgb(43, 26, 11);
}

td a:hover {
    text-decoration: none;
    color: rgb(118, 208, 224);
}

#disclaimer {
    font-size: xx-small;
    color: lightgray;
}

.socials {
    background-color: rgb(118, 208, 224);
    color: white;
    margin-top: 20px;
    width: 800px;
    height: 80px;
    padding: 20px 0px 20px 0px;
    border-radius: 0px 0px 0px 0px;
}

.socials img {
    border-radius:300px;
    opacity: 0.5;  
}

.socials img:hover {
    opacity: 1;
}