/* bildschirmgrößen-unabhängig*/

body {
    background-image: url(../images/background.jpg);
    font-family: 'Lobster', cursive;
    color: rgb(214, 106, 115);
    text-align: center;
    margin: auto;
}

#header {
    background-image: url(../images/header.png);
    position: sticky;
    height: 145px;
    top:0;
    margin-bottom: -50px;
    z-index: +1;
    }

h1+h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(121, 186, 103);
    margin-top: 20px;
}

div img {
    width: 170px;
}

button, #buttonBestellen {
    padding: 10px 20px 10px 20px;
    background-color: rgb(214, 106, 115);
    color: white;
    margin-bottom: 20px;
    font-family: 'Lobster', 'cursive';
    font-size: large;
    width: 300px;
    border: 2px rgb(214, 106, 115) solid;
    border-radius: 10px;
}

button:hover, #buttonBestellen:hover {
   background-color: rgb(219, 136, 143);
   
}

footer {
    background-color: rgb(255, 198, 1);
    background-image: url(../images/streusel-textur.png);
    color: rgb(255, 255, 255);
    height: 65px;
    padding-top: 20px;
    font-size: large;  
}

form {
    width: 800px;
    text-align: center;
    align-content: center;
    margin: auto;
}
    
#logo {
    width: 350px;
    align-self: center;
    opacity: 100%;
}    
    
#h1 {
    font-family: 'Lobster', cursive;
    color: rgb(214, 106, 115);
    font-size:70px;
    margin-top: 50px;
}
    
div>h2 {
    padding-top: 30px;
    font-size: xx-large;
}

label {
    color: rgb(121, 186, 103);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
    
.formular {
    width: 300px;
    background-color: rgba(121, 186, 103, 0.5);
    border-color: rgb(121, 186, 103);
    color: white;
    height: 30px;
    border: 2px solid rgb(121, 186, 103);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    font-size: large;
}

::placeholder {
    font-size: small;
}

#order {
    color: rgb(121, 186, 103);
    font-family: 'Roboto', sans-serif;
}
    
#flexDiv {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    width: 25%;
    padding-bottom: 50px;
    }
    
span {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}
    
fieldset {
    border-color: rgb(214, 106, 115);
    border-style: none;
}
    
a {
    text-decoration: none;
    color: rgb(121, 186, 103)
}
    
a:hover {
    color: rgb(214, 106, 115)
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    opacity: 50%;
}

[type=radio]:checked + img {
    opacity: 100%;
    font-weight: bolder;
}

[type=checkbox] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=checkbox] + img {
    opacity: 50%;
}

[type=checkbox]:checked + img {
    opacity: 100%;
}

/*Desktop*/
@media screen and (min-width: 1000px) {

    form * {
        width: 800px;
        text-align: center;
        align-content: center;
        margin: auto;
    }
    
    #meme {
        width: 500px;
        margin-top: 100px;
        margin-bottom: 25px;
    }
}

/*Tablet*/
@media screen and (max-width: 800px) {

    form {
        width: 700px;
    }
    
    #meme {
        width: 500px;
        margin-top: 80px;
        margin-bottom: 0px;
    }
    
    div img {
        width: 150px;
    }
}

/*Smartphone*/
@media screen and (max-width: 500px){

    form {
        width: 350px;
    }

    #header {
        background-position-x: -255px;
    }

    #logo {
        width: 240px; 
    }

    #h1 {
        font-size:40px;
    }

    #h2 {
        font-size: larger;
    }

    #flexDiv {
        width: 50%;
    }

    #meme {
        width: 300px;
        margin-top: 70px;
        margin-bottom: 0px;
    }

    footer {
        font-size: medium;
    }

    div img {
        width: 150px;
    }
}